.home-container {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.total-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 1000px;        /* เพดานความกว้างสูงสุดในจอคอม */
  height: auto;             /* ให้ความสูงยืดตามเนื้อหา */
  margin: 20px auto;        /* จัดกึ่งกลางหน้าจอหลัก */
}

.item-box {
  width: 100%;
  max-width: 250px; /* ไม่ให้กล่องยาวจนเกินไปในจอคอม */
  height: 80px;     /* กำหนดความสูงให้คงที่เพื่อให้ดูเป็นระเบียบ */
  
  border-radius: 12px; /* ปรับความโค้งให้ดูทันสมัยขึ้น */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  gap: 5px;

  cursor: pointer;
  transition: all 0.2s ease;
}

@media (min-width: 768px) {
  .total-box {
    flex-direction: row; /* สลับกลับเป็นแนวนอน */
    justify-content: center;
    max-width: 1000px;
  }

  .item-box {
    flex: 0 0 200px; /* ไม่ต้องขยาย (0) ไม่ต้องหด (0) ล็อกไว้ที่ 200px */
  }
}


.item-box:hover {
  filter: brightness(0.95); /* ทำให้สีเข้มขึ้นนิดๆ */
  transform: translateY(-2px); /* ยกตัวขึ้นนิดหน่อย */
}

.total-cash {
  background-color: rgb(196, 245, 215);
  border-left: 2px solid rgba(0, 128, 0, 0.336);
  border-bottom: 2px solid rgba(0, 128, 0, 0.336);
}

.today-expense {
  background-color: rgb(255, 193, 193);
  border-left: 2px solid rgba(128, 0, 0, 0.336);
  border-bottom: 2px solid rgba(128, 0, 0, 0.336);
}

.currentmonth-remaining {
  background-color: rgba(151, 222, 240, 0.644);
  border-left: 2px solid rgba(118, 176, 190, 0.644);
  border-bottom: 2px solid rgba(118, 176, 190, 0.644);
}

.icon-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.detail-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.item-box p {
  margin: 0;
}

.icon-bg {
  margin-top: 4px;
  margin-bottom: -4px;
}

.cash-img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.expense-img {
  width: 32px;
  height: 29px;
  object-fit: contain;
}

.month-img {
  width: 32px;
  height: 27px;
  object-fit: contain;
}

.red-active {
  color: red;
}
